.register-container {
  top: 59%;
  height: 65vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.display-box-money {
  min-height: 6vh;
  width: 100%;
  background: rgb(226, 226, 226);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
#clear-button {
  margin-top: 0.2rem;
  position: absolute;
  left: 1.5rem;
}
#clear-button:hover {
  cursor: pointer;
}
#current-money {
  margin-right: 2rem;
  font-size: 2rem;
}
#keypad {
  width: 100%;
  height: 20vh;
  padding: 0.2rem 0;
  background: rgb(92, 99, 98);
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.key {
  width: 17%;
  height: 40%;
  background: gray;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-text {
  font-size: 2.5rem;
}
.key-text:hover {
  font-size: 2.6rem;
}
.key:hover {
  cursor: pointer;
  background: rgb(105, 105, 105);
  border: 1px solid black;
}

.key-click {
  background: rgb(105, 105, 105);
  border-radius: 5px;
  border: 1px solid black;
}

#input-code {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

#dispense-btn {
  width: 25vw;
  height: 10vh;
  background: rgb(230, 230, 230);
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  font-size: 2rem;
  margin-top: 1rem;
}
#dispense-btn:hover {
  cursor: pointer;
  background: rgb(222, 222, 222);
  border-radius: 5px;
}

.change-element {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
